Beta Ziliani <beta@manas.tech> <beta@mpi-sws.org>
Brian J. Cardiff <bcardiff@gmail.com> <bcardiff@manas.com.ar>
Brian J. Cardiff <bcardiff@gmail.com> <bcardiff@manas.tech>
Kim Burgess <kim@simple.industries> <kim@place.technology>
Luis Lavena <luislavena@gmail.com> <luislavena@users.noreply.github.com
Stephanie Hobbs <steph@rx14.co.uk> <chris@rx14.co.uk>
Stephanie Hobbs <steph@rx14.co.uk> <steph@rx14.co.uk>
