name: <%= name %>
version: <%= version %>

# authors:
#   - name <email@example.com>

# description: |
#   Short description of <%= name %>

# dependencies:
#   pg:
#     github: will/crystal-pg
#     version: "~> 0.5"

# development_dependencies:
#   webmock:
#     github: manastech/webmock.cr

# license: MIT
